<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Process</title>
</head>
<body>
    <h1>Process:</h1>
    <ul>
        <li>Arguments: <%= argument %> </li>
        <li>Directory: <%= directory %> </li>
        <li>Id: <%= idProcess %> </li>
        <li>Node Version: <%= nodeVersion %> </li>
        <li>OS: <%= OS %> </li>
        <li>Memory: <%= memory %> </li>
        <li>Path: <%= path %> </li>
    </ul>
</body>
</html>